<div *ngFor="let picture of pictureList; index as i" class="modal fade" id="modal{{ i }}" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <img src="{{ picture.webformatURL }}">
        </div>
    </div>
</div>