<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="contents">
  <div style="height: 100%;background:rgba(0,0,0,.5);">
    <div class="contents-whole">
      <div class="top">
        <h1 class="top-title">
          {{ title }}
        </h1>
        <p class="top-outline">pixabay上にある高品質なフリー画像を検索することが出来ます。</p>
        <div class="top-search">
          <form #search="ngForm" (ngSubmit)="keySearch(search.value)">
            <div class="top-search-narrow form-row">
              <span>画像形式：</span>
              <label class="checkbox-inline">
                <input type="checkbox" name="typePhoto" [(ngModel)]='searchData.typePhoto'>
                <span class="ml-1">画像で絞り込み</span>
              </label>
              <label class="checkbox-inline ml-4">
                <input type="checkbox" name="typeIllustration" [(ngModel)]='searchData.typeIllustration'>
                <span class="ml-1">イラストで絞り込み</span>
              </label>
            </div>
            <div class="top-search-narrow form-row">
              <span>並べ替え：</span>
              <div class="form-group">
                <select class="form-control" name="order" [(ngModel)]='searchData.order'>
                  <option value="popular" selected>人気順</option>
                  <option value="latest">新しい順</option>
                </select>
              </div>
            </div>
            <div class="top-search-narrow form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <button class="input-group-text">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                  <input type="text" name="keyword" class="top-search-input form-control" placeholder="画像・ベクター画像を検索"
                    [(ngModel)]='searchData.keyword'>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="preResult" *ngIf="total == 0 && !searched && !searching">検索結果は最大100件まで表示されます。</p>
<p class="preResult" *ngIf="searching"><img src="/assets/img/loader.gif" alt="検索中です。"></p>
<div *ngIf="total == 0 && searched && !searching">
  <p class="noResult">
    「{{ formData['keyword'] }}」の検索結果：<span class="noResult-num">0件</span>
  </p>
</div>
<div class="result" *ngIf="total != 0 && searched && !searching">
  <div class="result-contents row">
    <div *ngFor="let picture of pictureList; index as i" class="result-contents-unit">
      <div class="result-contents-image">
        <img lazyLoad="{{ picture.webformatURL }}" data-toggle="modal" attr.data-target="#modal{{ i }}">
      </div>
      <p class="result-contents-link">
        <a href="{{ picture.pageURL }}" target="_blank"> pixabayページに行く<br>（外部リンク）</a>
      </p>
    </div>
  </div>
</div>
<app-modal [pictureList]="pictureList"></app-modal>
