body {
  background-color: #F2F2F2;
  font-family: Roboto, Arial, sans-serif;
}

.contents {
  background-image: url(../assets/img/main_bg.jpg);
  background-size: cover;
  height: 480px;
  &-whole {
    margin: auto;
    max-width: 968px;
  }
}

.top {
  color: #FFF;
  padding-top: 70px;
  text-align:center;

  &-outline {
    margin-top: 20px;
    @media only screen and (max-width: 767px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &-search {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin: auto;
    max-width: 500px;

    &-narrow {
      justify-content: start;

      @media only screen and (max-width: 767px) {
        justify-content: center;
        margin-right: 0px !important;
      }
    }

    &-input {
      width: 400px !important;
      @media only screen and (max-width: 767px) {
        width: 250px !important;
      }
    }

  }
}

.preResult {
  display: flex;
  font-size: 1.2em;
  justify-content: space-evenly;
  margin: 40px 0 0 0;
  @media only screen and (max-width: 767px) {
    margin: 30px 10px 0 15px;
  }
}

.noResult {
  margin: 40px auto;
  width: 500px;
  &-num {
    font-size: 1.7em;
  }
}

.result {
  &-contents {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 10px 10px 10px;

    &-image {
      height: 200px;
      margin: 0 0 10px 4px;
      overflow: hidden;
      position: relative;
      width: 200px;
      transition-duration: 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.2,1.2);
      }

      & img {
        height: auto;
        left: 50%;
        object-fit: cover;
        opacity: 0;
        position: absolute;
        transition: opacity 1s;
        top: 50%;

        transform: translate(-50%, -50%);
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        &.ng-lazyloaded {
          opacity: 1;
        }
      }
    }

    &-link {
      text-align: center;
    }

  }
}
